
<!doctype html>
<html lang="en">

  <head>
    <title>United Way</title>
  </head>

  <body>

    <header>
      <div class="collapse bg-white" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-dark">About Us</h4>
              <p class="text-dark">We are known as a leader in responding to community needs. United Way brings together people, resources and strong community partners to improve lives today and impact our community for future generations. We “unite” people to address our community’s most complex issues.
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-dark">Contact</h4>
             <p class="text-dark"> Phone: (210) 352-7000 
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-white shadow-sm">
        <div class="container d-flex justify-content-center">
          <a href="#" class="navbar-brand d-flex align-items-center">
           <img class src= "https://upload.wikimedia.org/wikipedia/en/thumb/a/a9/United_Way_Logo.svg/1200px-United_Way_Logo.svg.png"  width="600" height="155" ></svg>
          
          </a>
          <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>


      <section id="welcome" class="jumbotron text-center bg-warning">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome!</h1>
          <p class="lead text-dark"> <strong>United Way of San Antonio and Bexar County’s mission is to increase the organized capacity of people to care for one another. Having grown to one of America’s most respected and efficient nonprofit organizations, United Way of San Antonio and Bexar County focuses on prepared children (assuring kids a safe and healthy start in life), successful students (helping them stay in school and graduate), strong families and individuals (supporting the well-being of individuals and families), and providing safety net services(food, shelter, clothing and emergency care).</strong> </p>
          <button class="btn btn-outline-danger" href="#" onclick="document.getElementById('middle').scrollIntoView({behavior: 'smooth'});">Investors</button>
        </div>
      </section>

      <div class="album py-6 bg-light">
        <div class="container">
          <div class="row ">
            <div class="col-md-6-offset-2">
              <div class="card mb-5 shadow-sm bg-info">
                 <script {}type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1536px; height: 652px;'><object class='tableauViz' width='1150' height='500' style='display:none;'><param name='host_url' value='https%3A%2F%2F10ay.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;unitedway2' /><param name='name' value='Program&#47;Program' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='filter' value='iframeSizedToWindow=true' /></object></div>

                <div class="card-body">
                  <p class="card-text">The graph above illustrates the success of each program within a <strong>strategy</strong> over time. Here, there are various metrics involved. The target-line at the top is the aggregated participant contributions for the entire fiscal year. </p>
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="btn-group  align-items-center ">
                    </div>
        
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6-offset-2">
              <div class="card mb-4 shadow-sm bg-warning">
                <script type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1536px; height: 701px;'><object class='tableauViz' width='1150' height='495' style='display:none;'><param name='host_url' value='https%3A%2F%2F10ay.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;unitedway2' /><param name='name' value='Pie1&#47;Pie1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='filter' value='iframeSizedToWindow=true' /></object></div>
               


                <div class="card-body">
                  <p class="card-text">The pie chart above showcases the leading agencies for Program 1, which essentially means these agencies have set <strong> expectations, goals, and behavioral examples </strong> for other agencies to follow to be successful. </p>
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="btn-group  align-items-center ">              
                    </div>
                
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6-offset-2">
              <div class="card mb-4 shadow-sm bg-info ">
              <script type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1536px; height: 701px;'><object class='tableauViz' width='1150' height='500' style='display:none;'><param name='host_url' value='https%3A%2F%2F10ay.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;unitedway2' /><param name='name' value='Investors&#47;Investors' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='filter' value='iframeSizedToWindow=true' /></object></div>
        <div class="card-body">
                  <p class="card-text"> The graph above illustrates the year to date achievements of this strategy. Here, it is evident that there is an <strong>increase</strong> in the number of contributions, along with highlighting the projected contribution <strong>(600)</strong> for the remaining year. </p>
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="btn-group">
                     <div id="middle">
                     </div>
                    
                     
                    </div>

                  </div>
                </div>
              </div>
            </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
